h2{
                color:goldenrod;
                background:beige;
            }
        #first{
                color:darkblue;
               
            }
         #second{
                        color:orangered;}
        
            

            h4{
                color:indianred;
                
        